.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal {
  position: relative;
  width: 100%;
  max-width: 560px;
  background: #ffffff;
  border-radius: 12px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  animation: scaleIn 0.2s ease-in-out;
}


.modal textarea {
  width: 100%;
  min-height: 120px;
  font-family:  Calibri;
  resize: none;
  border: none;
  outline: none;
  font-size: 1.1rem;
  line-height: 1.5;
}

.closeBtn {
  position: absolute;
  top: 12px;
  right: 10px;
  width: 32px;
  height: 32px;
  padding: 0 0 2px 1px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.closeBtn:hover {
  background: rgba(0, 0, 0, 0.85);
}



.preview {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.Fab {
  background: #3b82f6;
  border-radius: 50%;
  justify-content: center;
  display: flex;
  align-items: center;
}

.Fab > svg {
  width: 25px;
  height: 25px;
  color: white;
}

.mediaToolbar {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.mediaButton {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background 0.15s ease;
}

.mediaButton:hover {
  background: #0a66c2;
}

.postAndMediaIcon{
  display: flex;
  gap: 1rem;
}

.mediaButton svg {
  width: 30px;
  height: 30px;
  stroke: #ffffff;
}


.modal label {
  width: fit-content;
  cursor: pointer;
}

.postButton {
  background: #0a66c2;
  color: rgb(255, 255, 255);
  flex: 1;
  padding: 0.6rem 1.2rem;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  font-weight: 600;
}

.footer {
  display: flex;
  justify-content: center;
}


.cancelButton {
  background: #1d2022;
  color: rgb(255, 255, 255);
  padding: 0.6rem 1.2rem;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  width: fit-content;
  padding-left: 3rem;
  padding-right: 3rem; 
}

@keyframes scaleIn {
  from {
    transform: scale(0.95);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
