.container {
  display: flex;
  
}

.homeContainer {
  display: flex;
}

.homeContainer > div:nth-child(odd) {
  flex: 0.2;
}

.homeContainer > div:nth-child(even) {
  flex: 0.6;
}

.homeContainer_leftBar {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  align-items: center;
  border-right: 1px solid black;
}

.sideBarOption {
  display: flex;
  align-items: center;
  font-size: 1rem;
  gap: 1.3rem;
  width: 80%;
  max-width: 80%;
  margin: 0 auto;
  cursor: pointer;
  transition: all 0.2s;
}

.sideBarOption:hover {
  transform: scale(1.04);
}

.sideBarOption > svg {
  height: 1em;
  min-width: fit-content;
}

.homeContainer_feedContainer{
  padding-left: 1rem;
  padding-bottom: 10vh;
}

.homeContainer_extraContainer{
  border-left: 1px solid black;
  padding-left: 1rem;
}


.mobileNavBar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  display: none;
  height: 6vh;
  background: white;
  align-items: center;
}

.singleNavItemHolder_mobileView{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.mobileNavBar svg {
  height: 2rem;
  cursor: pointer;
}


@media only screen and (max-width: 600px){
  .homeContainer_extraContainer{
    display: none;
  }

  .homeContainer{
    display: block;
  }

  .homeContainer_leftBar{
    display: none;
  }

  .mobileNavBar{
    display: flex;
   
  }
}


